.body{
  padding: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: red;
}

/*     Estilos   */

.container-body-card{
  display: flex;
  align-items: center;
}



.objetivo-title{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  color: rgba(36, 34, 34, 0.733);
}

.objetivo-title:hover{
 color: rgb(0, 0, 0);
}



/* CARD   */
.ant-card-body{
  padding: 18px !important;
}



/* Buttons */
:where(.css-i0uh1t).ant-btn-primary:not(:disabled):hover {
  color: aliceblue !important;
  background-color: rgb(0, 21, 42)  !important ;
  box-shadow: none !important;
}

:where(.css-i0uh1t).ant-btn-primary {
  color: aliceblue !important;
  background-color: rgb(0, 21, 42)  !important ;
  box-shadow: 0 !important;
}

.button-criar {
  margin: 0px 8px 20px 5px;
  background-color: rgb(0, 21, 42)  !important ;
  color: aliceblue !important;
  background-color: nome;
  box-shadow: none;
}


/*----------Icon------------------------*/

.icon-wrapper {
  font-size: 14px;
  font-weight: 800;
}


.icon-wrapper-objetivo {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 800;
  visibility: hidden;
}



.container-body-card:hover .icon-wrapper-objetivo{
  visibility: visible;
}

