.body{
  padding: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: red;
}

/* Buttons */
:where(.css-i0uh1t).ant-btn-primary:not(:disabled):hover {
  color: aliceblue !important;
  background-color: rgb(0, 21, 42)  !important ;
  box-shadow: none !important;
}

:where(.css-i0uh1t).ant-btn-primary {
  color: aliceblue !important;
  background-color: rgb(0, 21, 42)  !important ;
  box-shadow: 0 !important;
}

.button-criar {
  margin: 0px 8px 20px 5px;
  background-color: rgb(0, 21, 42)  !important ;
  color: aliceblue !important;
  background-color: nome;
  box-shadow: none;
}


/*----------Icon------------------------*/

.icon-wrapper {
  margin-right: 10px;
  font-size: 17px;
  font-weight: 800;
}

